* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Almarai";
}
/* THIS IS THE TOP HEADER ONLY */
.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  color: white;
}
/* THE IMAGE RIGHT UNDER THE TOP HEADER */
.top-banner-img {
  height: 50vw;
  width: auto;
}
/* THIS IS THE STYLIGN FOR ALL THE SUBHEDING SUCH AS BEST SELLERS */
.sub-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Lobster";
  font-size: calc(5vw + 1em);
  background-color: teal;
}

.best-seller-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
/* THIS IS THE STYLING FOR THE GROUP OF IMAGES */
.best-sellers-images {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
/* THIS IS THE STYLING FOR THE ACTUAL IMAGES WITHIN THE GROUP */
.best-seller-img {
  height: auto;
  width: 20vw;
}
